.custom-block
  .custom-block-title
    font-weight 500
    font-size 0.8rem
    margin-bottom -0.4rem
    text-transform uppercase
    border-bottom 1px solid rgba(0, 0, 0, 0.07)
    margin 0 -1.5rem 0.7rem
    padding 1rem 1.5rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width 2px
    border-left-style solid
    margin 3rem 0
    box-shadow $boxShadow
    border-radius 5px
  &.tip
    background-color #fff
    border-color #42b983
  &.warning
    background-color rgba(255,229,100,.3)
    border-color darken(#ffe564, 35%)
    color darken(#ffe564, 70%)
    .custom-block-title
      color darken(#ffe564, 50%)
    a
      color $textColor
  &.danger
    background-color #ffe6e6
    border-color darken(red, 20%)
    color darken(red, 70%)
    .custom-block-title
      color darken(red, 40%)
    a
      color $textColor
  &.details
    display block
    position relative
    padding 1.5rem
    background #fff
    margin 2rem 0
    border-radius $borderRadius
    box-shadow $boxShadow
    margin: 2rem 0
    h4
      margin-top 0
    figure, p
      &:last-child
        margin-bottom 0
        padding-bottom 0
    summary
      outline none
      cursor pointer
      font-weight 500
      font-size 0.8rem
      text-transform uppercase

.steps
  ol
    list-style none
    counter-reset my-awesome-counter
    padding 0
    li
      counter-increment my-awesome-counter
      margin-bottom: 0.5rem;
      &:last-child
        margin-bottom 0;
      &:before 
        content: counter(my-awesome-counter)
        width 2em
        display inline-block
        text-align center
        vertical-align middle
        margin-right 20px
        background-attachment fixed
        background-color rgb(250, 250, 250)
        background-image linear-gradient(#fff, #e2e2e2)
        border-radius 2em
        box-shadow inset 0 10px 50px rgba(0,0,0,0.01), inset 0 1px 3px rgba(0,0,0,0.07)
      img 
        margin: 2rem 0 1rem;
        ~ em
          margin -0.7rem 0 2rem !important
  .grid
    margin 0 

.step
  margin-bottom 0.5rem
  
  &:before 
    content: attr(data-step)
    width auto
    display inline-block
    float left
    text-align center
    vertical-align middle
    margin-right 20px
    background-attachment fixed
    background-color rgb(250, 250, 250)
    background-image linear-gradient(#fff, #e2e2e2)
    border-radius 2em
    box-shadow inset 0 10px 50px rgba(0,0,0,0.01), inset 0 1px 3px rgba(0,0,0,0.07)
    padding 0 8px
  img 
    margin: 2rem 0 1rem;
    ~ em
      margin -0.7rem 0 2rem !important
  
  + .grid
    margin 0 
    
.changelog
  ul 
    list-style circle
  &__badge
    font-size: 0.7em;
    text-transform: uppercase;
    border: 1px solid currentColor;
    padding: 0 6px;
    font-weight: 500;
    border-radius $borderRadius
    box-shadow $boxShadow
    &.new 
      color: #4CAF50;
    &.update 
      color: #03a9f4;
    &.fix 
      color: #ff9800;

.grid
  display grid
  grid-gap 50px 30px
  margin 2rem 0
  &.columns
    &-auto
      grid-template-columns repeat(auto-fit, minmax(200px, 1fr))
    &-2
      grid-template-columns repeat(auto-fit, minmax(45%, 1fr))
    &-3
      grid-template-columns repeat(auto-fit, minmax(30%, 1fr))
    &-4
      grid-template-columns repeat(auto-fit, minmax(20%, 1fr))
  > *
    margin 0
  img
    margin 0

{$contentClass}:not(.custom) .wrapper
    padding: 0.3rem 1.5rem;
    background: #fff
    margin 2rem 0
    border-radius 5px
    box-shadow 0 10px 50px rgba(0,0,0,0.03), 0 1px 3px rgba(0,0,0,0.07);

    &__title:not(:empty)
      text-transform: uppercase;
      margin: 1rem 0;
      font-weight 500
      font-size 0.8rem
      border-bottom: 1px solid $borderColor
      margin -0.2rem -1.5rem 1.5rem
      padding 1rem 1.5rem
    
    h6
      margin 2rem 0 1rem
      opacity .8
      border-bottom: 1px solid $borderColor
      margin: 0 -1.5rem 1rem;
      padding: 1.5rem 1.5rem 0.8rem 1.5rem;

    hr 
      margin 1.1rem -1.5rem
    
    ul
      padding: 0.9rem 1.5rem;
      box-shadow inset 0 10px 50px rgba(0,0,0,0.01), inset 0 1px 3px rgba(0,0,0,0.07)
      background #fafafa
      border-radius 5px

      ul
        margin 0.9rem 0 0.4rem 0
        border 1px solid $borderColor
        box-shadow none

      li 
        &:before
          content ""
          margin 0
